@import "general.scss";

.basicParaStyle {
  position: relative;
  left: 400px;
  top: 450px;
}

.color1 {
  @extend .basicParaStyle;
  font-family: Helvetica, Arial, sans-serif;
  color: #acd342;
  font-weight:normal;
  font-size: 22px;
}

.color2 {
  @extend .basicParaStyle;
  color: #80808b;
  font-weight:bold;
  font-size: 11px;
}

.color3 {
  @extend .basicParaStyle;
  color: #8a4cb5;
  font-size: 16px;
}

.btn1 {
  @extend %btnGeneral;
  top: 310px;
  left: 0px;
}

.btn2 {
  @extend %btnGeneral;
  top: 310px;
  left: 240px;
}
